 <div class="banner-text">
        <p class="bold">JS Text Typing Example</p>
        <p>
        <span id="banner-typed-text"></span>
        </p>
      </div>


<h3>Yarn to install in terminal</h3>
<ol>
  <li>yarn add typed.js</li>
  <li>yarn add bootstrap</li>
  <li>yarn add jquery</li>
  <li>yarn add popper.js</li>
</ol>

<h3>Copy whats in the files stated below</h3>
  <ol>
    <li>app/javascript/components/banner.js - whole file</li>
    <li>app/javascript/packs/application.js - line 19 - 29</li>
    <li>config/webpack/enviroment.js - whole file ?</li>
  </ol>

<h3>any-file.html.erb</h3>
<p>Add the code that is within this file at the top of the page</p>
<p>style once completed</p>


